body
{
    background-color: black;
}

h1, h2, h3, h4, h5, h6, footer
{
    color: rgb(254, 254, 254);
}

.container {
  height: 200px;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

